*.iml
*.ipr
*.iws
.DS_Store
.jonathan-*
.pip
node_modules
target
tmp
var
fetchavatars.pl
#Wowwerd dot j.s. dot com . dot net . dot org . dot wordpress slash startup dot schwab.
howards-jokes.js
.vagrant
tools/site/generate-cursors/cursor_output/cur/
tools/site/generate-cursors/cursor_output/ico/