target
build
latest-build
tmp
var
sitecues-load-script.js
latest-extension-build
*.iml
*.ipr
*.iws
.pip

# Dependencies.
# =============
# These are compiled per-environment, by each developer.
node_modules

# Build system output.
# ====================
# Unit test coverage, etc.
report

# Operating system shenanigans.
# =============================
.DS_Store

# Development tool metadata.
# ==========================
*.log
.idea
.vagrant
nbproject
# Used by Gource to visualize changes in the Git repo. over time.
fetchavatars.pl

# User-local environment template.
# ================================
# This file is sourced during testing. It contains logins for cloud services and is considered private.
config/.env

# Generated cursor output files make it into the repo.
# ====================================================
# The cursor_output directory should be ignored to save space in the repo.
# Cursors that should be in the IE version should be copied to the source/images/cursors directory.
tools/site/generate-cursors/cursor_output/

/test/mini-core
