Anna Khabibullina   <akhabibullina@aisquared.com>  akhabibullina         <akhabibullina@aisquared.com>
Anna Khabibullina   <akhabibullina@aisquared.com>  akhabibullina         <ascii88@mail.ru>
Anthony Nardi       <anardi@aisquared.com>         Tony                  <anardi@aisquared.com>
CI (Bamboo)         <ci@aisquared.com>             Atlassian Bamboo      <bamboo@example.com>
Former Developer    <dev@aisquared.com>            Alistair MacDonald    <amacdonald@aisquared.com>
Former Developer    <dev@aisquared.com>            Brian Moulton         <bmoulton@aisquared.com>
Former Developer    <dev@aisquared.com>            Brian Watson          <bwatson@aisquared.com>
Former Developer    <dev@aisquared.com>            bwatson               <bwatson@aisquared.com>
Former Developer    <dev@aisquared.com>            Chris Simari          <csimari@aisquared.com>
Former Developer    <dev@aisquared.com>            chris simari          <csimari@aisquared.com>
Former Developer    <dev@aisquared.com>            csimari               <csimari@aisquared.com>
Former Developer    <dev@aisquared.com>            Eric Savage           <esavage@aisquared.com>
Former Developer    <dev@aisquared.com>            Jonathan Barronville  <jbarronville@aisquared.com>
Former Developer    <dev@aisquared.com>            Jonathan Barronville  <mbarronville@gmail.com>
Former Developer    <dev@aisquared.com>            Sergey Kilipko        <sergii.kylypko@globallogic.com>
Former Developer    <dev@aisquared.com>            Sergey Kilipko        <skylypko@aisquared.com>
Former Developer    <dev@aisquared.com>            Thom Kenney           <tkenney@aisquared.com>
Former Developer    <dev@aisquared.com>            vagrant               <vagrant@sitecues-js-vagrant.(none)>
