Anna Khabibullina		<akhabibullina@aisquared.com>		<akhabibullina@aisquared.com>
Alistair MacDonald		<amacdonald@aisquared.com>			<amacdonald@aisquared.com>
Atlassian Bamboo		<bamboo@example.com>				<bamboo@example.com>
Brian Watson			<bwatson@aisquared.com>				<bwatson@aisquared.com>
Eric Savage				<esavage@aisquared.com>				<esavage@aisquared.com>
Jonathan Barronville	<jbarronville@aisquared.com>		<jbarronville@aisquared.com>
Jonathan Barronville	<jbarronville@aisquared.com>		<mbarronville@gmail.com>
Sergey Kilipko			<skylypko@aisquared.com>			<skylypko@aisquared.com>
Sergey Kilipko			<skylypko@aisquared.com>			<sergii.kylypko@globallogic.com>
Thom Kenney				<tkenney@aisquared.com>				<tkenney@aisquared.com>

