<!DOCTYPE html>
<html lang="{{lang}}">
<head>
<title>{{{title}}}</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF8">
<script>
    function getParam(index, name) {
        return decodeURIComponent(params[index].split(name + '=')[1]);
    }
    var params = location.search.substring(1).split('&'),
            scriptUrl = getParam(0, 'scUrl'),
            siteId = getParam(1, 'siteId'),
            siteUrl = getParam(2, 'siteUrl'),
            sessionId = getParam(3, 'sessionId'),
            pageViewId = getParam(4, 'pageViewId'),
            prefs = getParam(5, 'prefs'),
            versionInfo = getParam(6, 'versionInfo').split('/');

    // Site config
    window.sitecues = {
      config: {
        siteId : siteId,
        iframe  : 1,
        isFluid : 1,
        maxRewrapZoom: 3
      },
      session: {
        id: sessionId
      },
      pageView: {
        id: pageViewId
      }
    };

    // User prefs
    window.localStorage.sitecues = prefs;
</script>
<script data-provider="sitecues" type="text/javascript">
    var sitecues = window.sitecues || {};

    (function(){
        var script = document.createElement('script'),
                first = document.getElementsByTagName('script')[0];
        sitecues.config.scriptUrl=scriptUrl;
        sitecues.config.appUrl = {
          branch: versionInfo[0],
          version: versionInfo[1]
        };
        script.src=sitecues.config.scriptUrl;
        script.type = 'text/javascript';
        script.async = true;
        first.parentNode.insertBefore(script, first);
    })();
</script>

<script>
    // send a message to the parent window if escape is pressed
    window.addEventListener('keydown', function(evt) {
        if (evt.keyCode === 27) {
            window.top.postMessage('sc-close-iframe', siteUrl);
        }
    });
</script>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        /* Reset actions of 'injected stylesheet' 75% size rule, see https://github.com/olsh/Feedly-Notifier/issues/41 */
        font-size: 100%;
    }

    kbd {
        font-family: Monaco, monospace;
        display: inline-block;
    }

    h1, h2 {
        border-bottom: 1px dotted gray;
    }

    kbd {
        background-color: green;
        padding-left: 1.5ch;
        padding-right: 1.5ch;
        font-size: 90%;
        color: white;
    }

    ul {
        list-style-type: square;
    }

    li {
        margin: 3px 0px;
    }

    p, ul, h3 {
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Use simple BP inside of help! */
    #scp-more-button-group {
      display: none;
      opacity: 0;
    }

    #pinch-entry { display: none; }
</style>
</head>

<body>
<h1>{{{title}}}</h1>
{{{body}}}
</body>
<script>
    function focusIt() {
      try {
        window.focus();
      } catch (ex) {}

      try {
        document.body.focus();
      } catch (ex) {}
    }

    setTimeout(focusIt, 0);

    function isPinchZoomSupported() {
      return navigator.userAgent.indexOf('Chrome') > 0 && navigator.platform.toLowerCase().indexOf('mac') >= 0;
    }

    if (isPinchZoomSupported()) {
      document.getElementById('pinch-entry').style.display = 'inline';
    }
</script>
</html>



