@font-face {
	font-family: 'eqnx-cursor';
	src: url('//s3.amazonaws.com/js.sitecues.com/assets/cursors/cursor.eot');
	src: url('//s3.amazonaws.com/js.sitecues.com/assets/cursors/cursor.eot?#iefix') format('embedded-opentype'),
		 url('//s3.amazonaws.com/js.sitecues.com/assets/cursors/cursor.woff') format('woff'),
		 url('//s3.amazonaws.com/js.sitecues.com/assets/cursors/cursor.ttf') format('truetype'),
		 url('//s3.amazonaws.com/js.sitecues.com/assets/cursors/cursor.svg#eqnx-cursor') format('svg');
	font-weight: normal;
	font-style: normal;
}