/* Font */

/** Open Sans **/
/* latin normal woff2 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  src: url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Toolbar menu */

#scp-toolbar-menu {
  transition: opacity 500ms, max-width 3s, max-height 3s;
  opacity: 0;
  position: absolute;
  top: 28px;
  right: -1px;
  border: 2px solid #aaa;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(99,99,99,0.5);
  z-index: 2147483647;
  outline: 0 solid transparent !important; /* Prevent focus outline, as we will be showing focus on individual menu items */
  overflow: hidden; /* So that "Hide" menu item doesn't show outside of menu before it slides in */
  max-height: 20px;   /* Allows animation to auto size */
  max-width: 999px;
}

#scp-toolbar-menu[aria-hidden="false"] {
  opacity: 1 !important;
  max-height: 999px;   /* Allows animation to auto size */
  max-width: 999px;   /* Allows animation to auto size */

}

#scp-toolbar-menu[aria-hidden="true"] {
  pointer-events: none;
}

/* Menu items */

sc-toolbar-menu, sc-toolbar-menuitem {
  display: block;
  font-family: 'Open Sans',Arial,serif;
  font-size: 20px;
  margin: 0;
  line-height: normal;
  color: #447AC4;
}

sc-toolbar-menuitem {
  white-space: nowrap;
  padding: 10px 20px;
  transition: background-color 85ms linear;
}

/* Focus outline (including on the one that slides over) */
sc-toolbar-menuitem:focus,.scp-show-hide sc-toolbar-menuitem:focus > #scp-toolbar-hide {
  background-color: rgba(82,168,236,0.8);
  color: white;
  outline: 0;
}

.scp-no-focus sc-toolbar-menuitem:hover, .scp-no-focus sc-toolbar-menuitem:hover > * {
  background-color: #eee;
}

/* The "hide" menu option starts off to the right, and slides left after "Turn off" is used */
#scp-toolbar-hide {
  display: block;
  position: absolute;
  left: 100%;
  width: 100%;
  top: 0;
}

.scp-show-hide #scp-toolbar-turn-off {
  transform: translateX(-100%);
}

/* Repeated */
/* TODO combine this with the definition on secondary.css (note that transition rule is missing here) */
sc-kbd {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  top: -3px;
  font-size: 18px;
  min-width: 30px;
  padding: .04em;
  text-align: center;
  border-radius: 3px;
  border: 0;
  background-image: linear-gradient(to top, #EEE, #FFF);
  color: #333;
  margin: 0 4px;
  text-shadow: 0 0 2px #FFF;
  box-shadow: inset 0 0 1px #FFF, inset 0 0 .4em #CCC, 0 .1em 0 #888, 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
}

/* Blurb */
.scp-blurb sc-toolbar-menuitem {
  display: none;  /* Hide menu items when blurb mode is active */
}

#scp-toolbar-menu.scp-blurb {
  width: 35ex;
}

sc-blurb {
  display: none;
  font-family: 'Open Sans',Arial,serif;
  font-size: 20px;
  margin: 0;
  color: #000;
  line-height: normal;
  text-align: center;
  padding: 30px;
  opacity: 0;
  transition: opacity 150ms;
  transition-delay: 200ms;
}

.scp-blurb-fade-in-text sc-blurb {
  opacity: 1;
}
.scp-blurb-what-is > #scp-blurb-what-is {
  display: block;
}

.scp-blurb-unhide > #scp-blurb-unhide {
  display: block;
}

.scp-blurb-hide > #scp-blurb-hide {
  display: block;
}

/* Focus outline for blurb */
sc-blurb:focus {
  outline: 0;
}
sc-blurb[data-blurb-ready]:focus {
  border-bottom: 4px solid rgba(82, 168, 236, 0.8);
}

/* Button */
sc-blurb-button {
  display: inline-block;
  font-weight: 600;
  background-color: #447AC4;
  color: white;
  border: 2px solid beige;
  border-radius: 5px;
  padding: 9px 20px;
  transition: transform .5s;
  position: relative;
}

sc-blurb-button:hover {
  transform: scale(1.2);
}

/* Images */
#scp-blurb-slider-bar {
  display: inline-block;
  text-align: center;
  width: 180px;
  height: 51px;
  background: url('../images/bp-toolbar-menu/slider-bar.svg') no-repeat;
}

  /*background: url('../images/tips/slider-thumb-demo.svg') no-repeat;*/
/*transform: translateX(90px) scale(1.6);*/
