/* Toolbar menu button*/

#scp-toolbar-menu-button {
  display: block !important;
  /* Load both backgrounds right away to avoid flicker on hover -- only top (first) background shows, other background gets pre-loaded */
  background: url('../images/bp-toolbar-menu/hamburger.svg') center no-repeat, url('../images/bp-toolbar-menu/hamburger-active.svg') center no-repeat;
  position: absolute;
  cursor: pointer;
  top: 9px;
  right: 13px;
  width: 24px;
  border: 2px solid transparent;
  box-sizing: content-box;
  height: 19px;
  transition: background 99ms linear;
  z-index: 2147483647;
}

#scp-toolbar-menu-button:hover, #scp-toolbar-menu-button:focus, #scp-toolbar-menu-button[aria-expanded="true"] {
  background-image: url('../images/bp-toolbar-menu/hamburger-active.svg');
}

#scp-toolbar-menu-button:focus {
  outline: 0 !important; /* We need our own focus outline that won't show up on the menu child */
  box-shadow: 0 0 4px 6px rgba(82,168,236,0.8);
  border-radius: 4px;
}

#scp-toolbar-menu {
  opacity: 0;
}
