/* Font */

/** Open Sans **/
/* latin normal woff2 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  src: url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Toolbar menu */

#scp-toolbar-menu {
  transition: opacity 170ms linear;
  opacity: 0;
  position: absolute;
  top: 28px;
  right: -1px;
  border: 2px solid #aaa;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(99,99,99,0.5);
  z-index: 2147483647;
  outline: 0px solid transparent !important; /* Prevent focus outline, as we will be showing focus on individual menu items */
}
#scp-toolbar-menu[aria-hidden="false"] {
  opacity: 1 !important;
}

#scp-toolbar-menu[aria-hidden="true"] {
  pointer-events: none;
}

/* Menu items */

sc-toolbar-menu, sc-toolbar-menuitem {
  display: block;
  font-family: 'Open Sans',Arial,serif;
  font-size: 20px;
  margin: 0;
  color: #000;
  line-height: normal;
  color: #447AC4;
}

sc-toolbar-menuitem {
  white-space: nowrap;
  padding: 10px 20px;
  transition: background-color 85ms linear;

}

sc-toolbar-menuitem:focus {
  outline: none;
  box-shadow: 1px 0 4px 5px rgba(82,168,236,0.8);
}

.scp-no-focus > sc-toolbar-menuitem:hover {
  background-color: #eee;
}
