/* Badge */
.sitecues-badge #sitecues-badge-image {
    height: 23px;
}

.sitecues-badge {
    z-index: 2147483645;
    margin: 0px;
    visibility: visible;
    position: fixed;
    width: 150px;
    top: 5px;
    color: rgba(0, 0, 0, 0.6);
    cursor: default;
    -webkit-transition: color 1s;
}

.sitecues-badge:hover {
    color: rgba(0, 0, 0, 1);
    -webkit-transition: color 1s;
}

#sitecues-badge-image {
    width: 134px;
    border: 2px solid #A3A3A3;
    padding: 4px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow:  1px 1px 5px 0px rgba(10, 10, 10, .5);
    box-shadow:  1px 1px 5px 0px rgba(10, 10, 10, .5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(10, 10, 10, .5);
}

/* panel */
#sitecues-panel-placer {
    z-index: 2147483646;
    position: fixed;
    top: 5px;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: visible;
}

/* panel */
#sitecues-panel {
    z-index: 2147483646;
    opacity: 0;
    top: 0;
    border: 1px solid #aaa;
    white-space: nowrap;
    width: 500px;
    height: 80px;
    right: 1px;
    background-color: #fff;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 10px 2px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 2px 2px 10px 2px rgba(119, 119, 119, 0.75);
    box-shadow: 2px 2px 10px 2px rgba(119, 119, 119, 0.75);
    background-clip: content-box;
    user-select: none;
}

#sitecues-panel input[type='range'] {
    position:absolute;
    -webkit-appearance: none;
    left: 5px;
    height: 0px;
    width: 198px;
    top: 26px;
}
#sitecues-panel input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: none;
    background-image: url('../images/panel/slider_marker.png');
    width: 19px;
    height: 44px;
    border-radius: 4px;
    border: none;
    /*-webkit-box-shadow: 0 0 4px #555;*/
    z-index: 1;
}



#sitecues-panel .slider-wrap {
    display:block;
    width:340px;
    height:80px;
    -webkit-user-select : none;
    -khtml-user-select  : none;
    -moz-user-select    : none;
    -o-user-select      : none;
    user-select         : none;
}

#sitecues-panel .slider-wrap *{
    -webkit-user-select': none;
    -khtml-user-select  : none;
    -moz-user-select    : none;
    -o-user-select      : none;
    user-select'        : none;
}


#sitecues-panel .small {
    position: absolute;
    left: 3px;
    top: 23px;
    font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
    font-weight: bolder;
    font-size: 36pt;
}

#sitecues-panel .big {
    position: absolute;
    left: 270px;
    top: -10px;
    font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
    font-weight: bolder;
    font-size: 60pt;
}

#sitecues-panel .tts {
    position: absolute;
    top: 2px;
    right: 0;
    width: 136px;
    height: 76px;
    background-image: url('../images/tts-icon-1.png');
    background-size: 270px;
    background-position: 0% 0%;
}

#sitecues-panel .tts.tts-disabled {
    position: absolute;
    top: 2px;
    right: 0;
    width: 136px;
    height: 76px;
    background-image: url('../images/tts-icon-1.png');
    background-size: 270px;
    background-position: -135px 0%;
}

#sitecues-cursor {
    top: 0;
    left: 0;
    position: fixed !important;
    display: none;
    pointer-events: none;
    height: 15px;
    z-index: 2147483647;
}

.sitecues-eq360-focus {
    position: absolute !important;
    pointer-events: none !important;
    z-index: 2147483645 !important;  /* below the Equinox cursor and panel */
}

#sitecues-caret {
    position: absolute;
    border: 0px solid transparent;
    z-index: 2147483647;
    background-color: red;
    opacity: 0.75;
    width: 2px;
    margin: 0;
    padding: 0;
}

#sitecues-eq360-bg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#sitecues-toolbar {
    background:     black;
    color:          ghostwhite;
    display:        none;
    height:         30px;
    left:           0;
    margin:         0;
    margin-bottom:  5px;
    position:       fixed;
    top:            0;
    vertical-align: middle;
    width:          100%;
    z-index:        2147483647;
}

.sitecues-toolbar,
.sitecues-toolbar *
{
    -moz-user-select:    none !important;
    -ms-user-select:     none !important;
    -o-user-select:      none !important;
    -webkit-user-select: none !important;
    user-select:         none !important;
}

#sitecues-toolbar-close-button {
    height: 20px;
    margin: 5px;
    width:  20px;
}

#sitecues-close-button {
    position: absolute;
    height: 36px;
    width:  36px;
    border: 0;
    border-radius: 15px;
    background-image: url('../images/hlb_close_button.png');
    background-size: 36px 36px;
    z-index: 2147483647; /* above all */
    cursor: pointer;
}

.sitecues-highlight-overlay {
    position: absolute;
    border: 2px solid black;
    border-radius: 3px;
    pointer-events: none;
    background-color: transparent;
    z-index: 2147483645; /* Below Equinox panel, mouse, HLB, and HLB close button */
}

.sitecues-help-frame {
    border:  2px solid #000;
    border-radius: 3px;
    background-color: #FFF;
    margin:  0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    z-index: 2147483646; /* Below the close button */
}


/* Simulate Windows Scrollbars in Webkit */
/*
body::-webkit-scrollbar {
    -webkit-appearance: none!important;
}

body::-webkit-scrollbar:vertical {
    width: 15px!important;
}

body:-webkit-scrollbar:horizontal {
    height: 11px!important;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px!important;
    border: 2px solid white!important;
    background-color: rgba(0, 0, 0, 1)!important;
}*/


