/* ------------- Textarea placeholder ------------ */

#scp-feedback-textarea::-webkit-input-placeholder {
  position: relative !important;
  font-size: 24px !important;
  left: 20px !important;
  top: 35px !important;
  color: #777 !important;
}
#scp-feedback-textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}

/* --------------- General ranges ---------------- */

.scp-normal-range, .scp-normal-range:focus {
  -webkit-appearance: none;
  width: 442px;
  height: 27px;
  border: 0 !important;
  border-radius: 1px !important;
  background-color: #e2e2e2 !important;
  margin: 0;
  outline: 0;
  box-sizing: content-box !important;
}

.scp-hue-range {
  -webkit-appearance: none;
  width: 442px;
  height: 26px;
  margin: 0;
  padding: 1px 0;
  border-radius: 3px;
  outline: 0;
  background-image: linear-gradient(to right, #f66 0, #ff6 16%, #6f6 32%, #6ff 48%, #66f 64%, #f6f 80%, #f66 96%, #fff 96.2%, #fff 100%) !important;
  border: 1px solid #777 !important;
  box-sizing: border-box !important;
}

/* ----------- Thumb ------------ */

#scp-bp-container input::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 3px;
  width: 19px;
  height: 45px;
  background: url('../images/settings/slider-thumb.svg');
}
.scp-hue-range::-webkit-slider-thumb {
  background-image: url('../images/settings/slider-thumb-with-hole.svg') !important;
}

/* ---------- Two-tone range --------------- */

.scp-normal-range::-webkit-slider-thumb::before {
  content:"";
  position: absolute;
  left:-600px;
  right:19px;
  top:6px;
  height:27px;
  background: #538eca;
  pointer-events: none;
}

/* ----------- Button hover ---------- */

sc-button {
  -webkit-transition: -webkit-transform .5s;
}

sc-button:hover {
  -webkit-transform: scale(1.2);
}

