/* ----------- Remove .scp-no-ie elements ------------*/
.scp-no-ie { display: none; }

/* ----------- Current theme indicator ---------------*/

sc-button[data-setting-name="themeName"][aria-pressed="true"]:after {
  content: "";
  position: absolute;
  left: calc(50% - 10px);
  background-image: url('../images/settings/theme-indicator.svg');
  top: 85px;
  height: 20px !important;
  width: 24px !important;
  pointer-events: none;
}

/* ------------- Textarea placeholder ------------ */

#scp-feedback-textarea:-ms-input-placeholder {
  font-size: 24px !important;
  color: #777 !important;
}

#scp-feedback-textarea:focus:-ms-input-placeholder {
  color: transparent !important;
}

/* --------------- General ranges ---------------- */

.scp-normal-range, .scp-hue-range {
  width: 442px;
  height: 50px;
  background-color: transparent !important;
  border: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}

.scp-normal-range::-ms-track {
  width: 442px;
  height: 25px;
  margin: 0;
  outline: 0;
  border: 1px solid white !important;
  border-radius: 1px;
  background-color: #e2e2e2 !important;
  box-sizing: border-box !important;
  color: transparent; /* Remove tick marks */
}

.scp-hue-range::-ms-track {
  width: 440px;
  height: 25px;
  margin: 0;
  outline: 0;
  border: 1px solid #777 !important;
  border-radius: 1px;
  background-image: linear-gradient(to right, #f66 0, #ff6 16%, #6f6 32%, #6ff 48%, #66f 64%, #f6f 80%, #f66 96%, #fff 96.2%, #fff 100%) !important;
  box-sizing: border-box !important;
  color: transparent; /* Remove tick marks */
}

/* ----------- Thumb ------------ */

.scp-hue-range::-ms-thumb {
  margin-top: 12px;
  width: 22px;
  height: 53px;
  background: url('../images/settings/slider-thumb-with-hole.svg') no-repeat;
  background-size: 21px 45px;
  outline: 0 !important;
  border: 0 !important;
  z-index: 99999999;
}

.scp-normal-range::-ms-thumb {
  margin-top: 10px;
  width: 22px;
  height: 53px;
  background: url('../images/settings/slider-thumb.svg') no-repeat;
  background-size: 20px 46px;
  outline: 0 !important;
  border: 0 !important;
  z-index: 99999999;
}
/* ---------- Two-tone range --------------- */

.scp-normal-range::-ms-fill-lower {
  height: 26px;
  background: #538eca;
  border-radius: 2px;
}
.scp-normal-range::-ms-fill-upper {
  height: 26px;
  background: #e2e2e2;
  border-radius: 2px;
}

/* ---------- Hue range --------------- */

.scp-hue-range::-ms-fill-lower {
  display: none;
}

/* ---------- Tooltip --------------- */

#scp-bp-container input[type="range"]::-ms-tooltip {
  display: none;
}

